
body{
  background-image: url('hotdogme.jpg'); /*image author: me*/
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
h1{
  background-color: yellow;
  color: red;
  width: 400px;
  border: 3px;
  border-style: groove;
  border-color: orange;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: sans-serif;
}
h1::before{
  content: url('hotdoglistbullet.jpg')
}
h1::after{
  content: url('hotdoglistbulletrev.jpg')
}
h3{
  background-color: yellow;
  opacity: .9;
  color: red;
  width: 400px;
  border: 2px;
  border-style: groove;
  border-color: orange;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: sans-serif;
}
p{
  border: 3px;
  border-style: dotted;
  border-color: orange;
  color: red;
  width: 600px;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-indent: 25px;
  font-family: monospace;
  font-size: 14pt;
}
div{
  background-color: yellow;
  opacity: .9;
  width: 620px;
  border: 5px;
  border-style: groove;
  border-color: orange;
  margin-left: auto;
  margin-right: auto;
}
ul{
  background-color: yellow;
  opacity: .9;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
li{
  color: red;
  font-family: monospace;
  list-style-image: url('hotdoglistbullet.jpg'); /*image author: me*/
}
li:hover{
  background-color: red;
  font-size: 16;
  color: yellow;
  list-style-image: url('hotdoglistbulletrev.jpg'); /*image author: me*/
}
h3 ~ li{
  margin-left: 50px;
  font-family: monospace;
}
h3 ~ p{
  border-style: none;
  text-indent: 25px;
}
div a:link{
  text-decoration: none;
  font-family: serif;
  font-size: 18;
  color: red;
}
div a:visited{
  text-decoration: none;
  font-family: serif;
  font-size: 18;
  font-weight: bold;
  color: magenta;
}
div.navtab {
  background-color: yellow;
  float: left;
  height: auto;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: sans-serif;
}
div.navtab:hover {
  background-color: darkred;
  color: yellow;
}
a.navigation {
  text-decoration: none;
  color: red;
}
#linklist{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
